@import 'tailwindcss';

@font-face {
    font-family: Digi;
    src: url(/fonts/DS-DIGI.TTF);
}

.yusei-magic-regular {
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gradient{
    background: linear-gradient(90deg, #f54129 0%, #561ac5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Custom class to hide scrollbars */
.no-scrollbar {
    /* For Firefox */
    scrollbar-width: none;
    
    /* For Internet Explorer and older Edge */
    -ms-overflow-style: none;
}

/* For Chrome, Safari, and newer Edge (WebKit/Blink) */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
