@import 'tailwindcss';

@font-face {
    font-family: Digi;
    src: url(/fonts/DS-DIGI.TTF);
}

@font-face {
    font-family: Super;
    src: url(/fonts/UbuntuSans.ttf);
    font-weight: bold;
}

.gradient {
    background: linear-gradient(90deg, #f54129 0%, #561ac5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Custom class to hide scrollbars */
.no-scrollbar {
    /* For Firefox */
    scrollbar-width: none;

    /* For Internet Explorer and older Edge */
    -ms-overflow-style: none;
}

/* For Chrome, Safari, and newer Edge (WebKit/Blink) */
.no-scrollbar::-webkit-scrollbar {
    display: none;

}

.bgImage {
    background-color: #060410;
    background-image: radial-gradient(ellipse 50% 100% at 50% -10%, #222c6880, #060410);
    background-repeat: no-repeat;
}