[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
typing-extensions = "*"
dotenv = "*"
dj-database-url = "*"
django-cors-headers = "*"
psycopg = {extras = ["binary"], version = "*"}
pillow = "*"
whitenoise = "*"
cloudinary = "*"
django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.5"
